body {
    font-family: Verdana;
    font-size: 12px;  
}

.heading {
    background-color: lightyellow;
    color: black;
    max-width: 300px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

.textbox {
    background-color: lightgray;
    max-width: 75px;
    padding: 5px;
}

.textboxLarge {
    background-color: lightgray;
    max-width: 250px;
    padding: 5px;
}

.button {
    height: 30px;
    width: 300px;
    border-radius: 10px;
}

.table {
    border: 1px solid black;
    width: 500px;
    border-collapse: collapse;
}

.tableCell {
    border: 1px solid black;
    border-collapse: collapse;
    font-weight: normal;
    
}


